// imports
@import '../../styles/_variables.scss';

// styles
.vote-container {
    text-align: center;
    h2 {
        text-transform: uppercase;
    }
    strong {
        font-weight: 900;
    }
    .genre-wrapper {
        margin-top: -15px;
        margin-bottom: 10px;
    }
    .buttons-wrapper {
        margin: 20px auto 25px;
    }
    .link-para {
        font-size: 16px;
        display: inline-block;
        margin-bottom: 30px;
    }

    .form-title {
        margin: 20px 0 35px;
        color: #f5fa19;
    }
    .form-wrapper {
        margin: 30px 0;
    }

    .captcha-wrapper {
        margin: 10px 0 30px;
        div {
            margin: auto;
        }
    }

    // scratch
    .scratchcard-container {
        .genre-bg {
            position: absolute;
            z-index: -1;
        }
    }

    // media
    @media screen and (max-width: $medium-screen) {
        margin-top: 70px;
        margin-bottom: 50px;
        .genre-wrapper {
            margin-top: 15px;
        }
    }

    // media
    @media screen and (max-width: $mobile) {
        margin-top: 130px;
        h2 {
            max-width: 90%;
            margin: auto;
        }
        p {
            max-width: 90%;
            margin: auto;
        }
        .captcha-wrapper {
            width: 260px;
            margin: 0 auto 30px;
        }

        .buttons-wrapper {
            width: 90%;
            .button {
                text-align: center;
                margin: 0 15px 25px;
            }
        }
    }
}
