// imports
@import '../../styles/_variables.scss';

// slider
.onboarding-slider {
    text-align: center;
    // slides
    .slides {
        padding-bottom: 30px;
        .content-wrapper {
            min-height: 120px;
            position: relative;
            * {
                color: rgba(255, 255, 255, 1);
            }
            @media (max-width: 1024px) and (orientation: landscape) {
                max-width: 75%;
                margin: auto;
            }
        }
        .onboarding-media {
            margin: -180px 0 -70px;
            display: inline-block;
            @media screen and (max-width: $medium-screen) {
                margin: -80px 0 -50px;
            }
            @media screen and (max-width: 1024px) {
                margin: -130px 0 -50px;
            }
            @media screen and (max-width: 812px) {
                margin: -40px 0 -50px;
            }
            @media screen and (max-width: 812px) and (orientation: landscape) {
                margin: -80px 0 -190px;
            }
        }
        h3 {
            white-space: pre-line;
            line-height: 1.1em;
        }
    }

    @media screen and (max-width: $mobile) {
        .slides {
            .content-wrapper {
                max-width: 85%;
                margin: auto;
            }
        }
        h5 {
            font-size: 16px;
        }
        h3 {
            font-size: 25px;
        }
    }

    // media
    @media screen and (max-width: $medium-screen) {
        margin-top: 70px;
    }
    @media (max-width: 1024px) and (orientation: landscape) {
        margin-top: 120px;
    }
    @media (max-width: $mobile) and (orientation: portrait) {
        margin-top: 50px;
    }
    @media (max-width: $mobile) and (orientation: landscape) {
        margin-top: 0px;
    }
}

@media screen and (max-width: $mobile) {
    .onboarding-container {
        padding: 80px 0;
        overflow: hidden;
        .slick-dots {
            margin-top: 0px;
        }
        .slick-arrow {
            display: none;
        }
    }
}
