// imports
@import '../../styles/_variables.scss';

// container
.inner-container {
    max-width: 100%;
    position: relative;
    margin: auto;

    // stage
    .stage-pattern {
        z-index: -1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -80px;
        @media screen and (max-width: $medium-screen) {
            bottom: -60px;
        }
    }

    // inner
    &.mobile-state {
        width: 100vw;
        height: 100vh;
        background-color: #070709;
        overflow-x: hidden;

        .stage-pattern {
            display: none;
        }
    }
}

// boombox container
.boombox-container {
    width: 1284px;
    margin: auto;
    position: relative;
    text-align: center;
    margin-top: -70px;

    // base container
    > .base {
        width: 100%;
        z-index: -1;
    }

    // headers
    .header-container {
        position: absolute;
        width: 100%;
        top: 130px;

        @media screen and (max-width: $medium-screen) {
            top: 100px;
        }
    }

    // mashup neon
    .neon-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 455px;
        margin-left: 2px;
        > img {
            width: 100%;
        }
    }

    // media
    @media screen and (max-width: $medium-screen) {
        width: $ipad;
        margin-top: auto;

        // neon container
        .neon-container {
            top: 352px;
            margin-left: 1px;
            width: 100px;
        }
    }

    // mobile
    &.mobile-state {
        width: 736px;
        height: auto;
        overflow: hidden;

        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);

        // header
        .header-container {
            top: 25px;
            h3 {
                font-size: 24px;
            }
            h5 {
                font-size: 16px;
                margin-bottom: 5px;
            }
        }
        .neon-container {
            top: 245px;
            margin-left: 0px;
            width: 74px;
        }
    }
}

// mobile
.container-fluid.mobile {
    padding: 0;
}
