// imports
@import '../../styles/_variables.scss';

// form
.form-container {
    .row {
        .field-item {
            margin-bottom: 30px;
            padding: 0 40px;
            &.last {
                margin-bottom: 0;
            }
            &.mobile-field-item {
                padding: 0px 0px;
                margin-bottom: 0px;
            }
            @media screen and (max-width: $medium-screen) {
                padding: 0;
                margin-bottom: 20px;
            }
            @media screen and (orientation: portrait) {
                margin-bottom: 0;
            }
        }
        .text-input {
            label {
                color: #00fff5;
            }
            .MuiFilledInput-root {
                background-color: #041c47;
            }
            input {
                color: #fff;
                letter-spacing: 1pt;
            }
        }
        .checkbox {
            color: #cdd7e3;
        }
    }
    .button-group {
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .form-control {
        width: 100%;
        height: 100%;
        background-color: transparent;
        > p {
            color: #f00082;
            margin-top: 15px;
        }
        @media screen and (max-width: $medium-screen) {
            width: 95%;
            margin: auto;
        }
        @media screen and (orientation: portrait) {
            text-align: left;
            > p {
                color: #f00082;
                margin-top: 5px;
                margin-bottom: 15px;
                margin-left: 0;
                text-align: left;
            }
        }
    }

    .checkbox-wrapper {
        display: flex;
        align-items: flex-start;
        margin: 20px 10px 0;
        text-align: left;
        &.mobile-checkbox-wrapper {
            margin: 20px 0px 0;
        }
        a {
            &:after {
                content: '';
                display: block;
                border-bottom: 1px solid #f5fa19;
                height: 1px;
                width: auto;
                left: 0px;
                right: 0px;
            }
        }
    }

    // media
    @media screen and (max-width: $mobile) {
        .checkbox-wrapper {
            margin: auto;
            span {
                font-size: 16px;
            }
        }
    }
}

// Autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #041c47 inset !important;
}
input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
}
