// components
@import './_variables.scss';
@import './utils.scss';

// cores styles
body {
    // overflow: hidden;
    @media screen and (max-width: $mobile) {
        background-color: #070709;
    }
}

// typo
a {
    &:hover,
    &:active {
        color: inherit;
    }
    &:after {
        display: none;
    }
}

// colors
.yellow-text {
    color: #f5fa19;
}
.lightblue-text {
    color: #00fff5;
}

// root element
#root {
    @media screen and (max-width: $medium-screen) {
        height: 100vh;
        position: absolute;
        left: 50%;
        top: 0;
        display: flex;
        transform: translateX(-50%);
        align-items: center;
    }
}

// link para
.link-para {
    color: #fde607;
    &:after {
        content: '';
        display: block;
        border-bottom: 1px solid #f5fa19;
        height: 1px;
        width: auto;
        left: 0;
        right: 0;
    }
}

// animations
.flash-infinite {
    -webkit-animation-name: flash 2s infinite;
    animation: flash 2s infinite;
}

.fade-appear,
.fade-enter {
    opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
    transition: opacity 0.3s linear;
    opacity: 1;
}

.fade-exit {
    transition: opacity 0.2s linear;
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
}

// utils
.disabled-link {
    pointer-events: none;
}
