.orientation-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('./assets/orientation-bg.png');
    background-size: cover;
    z-index: 999;

    animation-duration: 0.3s;

    img {
        max-width: 235px;
    }
}
