// imports
@import '../../styles/_variables.scss';

// modal wrapper
.modal-wrapper {
    .image-wrapper {
        text-align: center;
    }

    // media
    @media screen and (max-width: $ipad) {
        .genre-image {
            margin-top: 30px;
            width: 80%;
        }
    }

    .mashup-overlay {
        // media
        @media screen and (max-width: $medium-screen) {
            margin-top: 70px;
            margin-bottom: 50px;
        }
        // media
        @media screen and (max-width: $mobile) {
            .content-wrapper {
                text-align: center;
            }
            .genre-wrapper {
                text-align: center;
            }
        }
    }
}

// wrapper
.genre-wrapper {
    * {
        display: inline-block;
        vertical-align: middle;
    }
    h1 {
        font-size: 40px;
        font-weight: 900;
        color: #f5fa19;
        margin-bottom: 15px;
        margin-top: 20px;
    }
    .genre-x {
        margin: 0 20px;
        width: 30px;
    }

    // media
    @media screen and (max-width: $ipad) {
        margin-bottom: 20px;
        h1 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 28px;
        }
        p {
            font-size: 18px;
        }
    }

    // media
    @media screen and (max-width: $mobile) {
        margin-bottom: 20px;
        h1 {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 28px;
        }
    }
}

.content-wrapper {
    @media screen and (max-width: $ipad) {
        p {
            font-size: 16px;
        }
    }
}
